<div class="main">
<form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <mat-form-field  class="full-width" appearance="outline">
          <mat-label>Customer Id</mat-label>
          <input type="text" matInput >
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input type="text" matInput >
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field  class="full-width" appearance="outline">
          <mat-label>Customer Address</mat-label>
          <input type="text" matInput >
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Customer Salary</mat-label>
          <input type="text" matInput >
        </mat-form-field>
      </div>
      <div class="col-sm-12 ">
        <button mat-raised-button color="primary">Save Customer</button>
      </div>
    </div>
  </div>
</form>

</div>
