.main{
  padding:50px 10px;
  h1{
    color: #FF6A3D;
  }
}

.activated-route{
  span{
    color: white;
  }

 background-color: #1A2238;

}
.activated-route:hover{
  color: #bdc3c7;
}

.mat-tab-nav-bar, .mat-tab-link{
  opacity: 1;
}
