<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form>
          <mat-form-field class="full-width" appearance="fill">
            <input type="search" matInput placeholder="Search here">
          </mat-form-field>
        </form>
      </div>
    </div>

    <br>

    <table class="table table-hover">
      <thead>
      <th>#</th>
      <th>Customer Id</th>
      <th>Customer Name</th>
      <th>Customer Address</th>
      <th>Customer Salary</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>C001</td>
          <td>Nimal</td>
          <td>Colombo</td>
          <td>25800$</td>
        </tr>

      </tbody>
    </table>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5,10,25,100]"
                   aria-label="Select page">

    </mat-paginator>
  </div>

</div>
